@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/pianoKeys.jpg");
  background-size: cover;  /* Ensures it covers the full screen */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Prevents scrolling issues */
}